# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
#data/private/*
#!data/private/
#!data/private/.gitkeep
#!data/private/stream-secrets.json
#!data/private/player-settings.json
#data/private/preroll-impressions.json
*.tmp
tmp_admin_cookie.txt
source.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
tmp_sync_output/*
backup.txt
code.txt
decoded_code.txt
orcastream.rar
source.txt
android-native-app/*
