.desktopSlot {
  width: min(100%, 728px);
  height: 90px;
}

@media (max-width: 767px) {
  .desktopSlot {
    width: min(100%, 320px);
  }
}

@media (min-width: 1600px) and (min-height: 960px) {
  .desktopSlot {
    width: min(100%, 970px);
    height: 250px;
  }
}

.mobileSlot {
  width: min(100%, 300px);
  height: 250px;
}
